<launch>
    <!-- Launch Gazebo and Hebi controllers -->
    <include file="$(find hebi_gazebo)/launch/arm_moveit_simulation.launch" >
        <arg name="use_sim_time" value="false"/>
    </include>


    <!-- Launch gym and agent -->
    <node pkg="openai_ros_hebi_demo" name="gym_agent" type="gym_agent.py" output="screen"/>
</launch>